body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: white;
    
}


header h1{
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-size: 5em;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: goldenrod;
    margin-bottom: 1px;
   
} 

header h2{
    color: black;
    font-size: 3em;
    text-align: center;
}

#logo {
    position: absolute;
    left: 20px;
    margin-top: 60px;
    
    
}

a:hover{
    color: red;
}

.navigation{
    text-align: center;
}

.navigation ul{
    text-align: center;
    background-color: grey;
    opacity: inherit;
    color:black;
    
}

.navigation li {
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px;
    list-style-type: none;

}

.subtitle{
    background-color:#0C2C53;
    color: white;
    font-weight: bold;
    text-align: center;
}

div, #about{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;
    color: black;
    font-stretch: expanded;
}

